* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bold {
  font-weight: bold;
}
.button {
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  width: 130px;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border: none;
}
.danger {
  background: #d42137;
}
.warning {
  background: #fbe04c;
  color: #1e1e1e;
}
.black {
  background: #1e1e1e;
  color: #fefefe;
}
.border {
  border-radius: 5px;
}
.gradient-1 {
  background-image: linear-gradient(90deg, #43e7ff, #8360c3);
}
.gradient-2 {
  background-image: linear-gradient(90deg, #2ebf91, #8360c3);
}
.gradient-3 {
  background-image: linear-gradient(90deg, #e4a345, #fbe04c);
}
.gradient-4 {
  background-image: linear-gradient(90deg, #eb1c35, #d42137);
}
.right {
  float: right;
}
.center {
  display: block;
  margin: 0 auto;
}
.left {
  float: left;
}
